In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("fatal_encounters_data_clean.csv")
print(df.shape)
df.head()

(28368, 16)

,Name,Age,Gender,Race,Presumed Race,Date,City,State,Zipcode,Latitude,Longitude,Agency,Cause of death,Description,Intentional Use of Force,Year
0,Samuel H. Knapp,17,Male,White,White,1/1/2000,Willits,CA,95490.0,39.470883,-123.361751,Mendocino County Sheriff's Office,Vehicle,Samuel Knapp was allegedly driving a stolen ve...,Vehicle/Pursuit,2000.0
1,Mark A. Horton,21,Male,Black,Black,1/1/2000,Detroit,MI,48203.0,42.404526,-83.092274,NaN,Vehicle,Two Detroit men killed when their car crashed ...,Vehicle/Pursuit,2000.0
2,Phillip A. Blurbridge,19,Male,Black,Black,1/1/2000,Detroit,MI,48203.0,42.404526,-83.092274,NaN,Vehicle,Two Detroit men killed when their car crashed ...,Vehicle/Pursuit,2000.0
3,Mark Ortiz,23,Male,Hispanic,Hispanic,1/1/2000,Carlsbad,NM,88220.0,32.450080,-104.237643,Eddy County Sheriff's Office,Vehicle,A motorcycle was allegedly being driven errati...,Vehicle/Pursuit,2000.0
4,Lester Miller,53,Male,Race unspecified,Black,1/2/2000,Ellenwood,GA,30294.0,33.645164,-84.229413,DeKalb County Sheriff's Office,Gunshot,"Darren Mayfield, a DeKalb County sheriff's dep...","Intentional Use of Force, Deadly",2000.0

In [3]:
df_counts=df["Presumed Race"].value_counts()
df_counts=df_counts.to_frame().reset_index()
df_counts=df_counts.rename(columns={'index':"Race",'Presumed Race':'Count'})
df_counts=df_counts.append({"Race":"Total","Count":df_counts["Count"].sum(axis=0)}, ignore_index=True)

i=0
Percents=[]
for i in df_counts.index.values.tolist():
    value=df_counts.at[i,"Count"]/df_counts.at[df_counts.index.values.tolist()[-1],"Count"]*100
    Percents.append(value.round(2))

df_counts["Percent"]=Percents
df_counts

               Race  Count  Percent
0             White  13420    48.05
1             Black   7683    27.51
2          Hispanic   4592    16.44
3  Race unspecified   1372     4.91
4             Asian    529     1.89
5            Native    277     0.99
6    Middle Eastern     48     0.17
7        Other Race      9     0.03
8             Total  27930   100.00

In [4]:
df["Cause of death"].value_counts()

Gunshot                        20118
Vehicle                         5810
Tasered                          909
Medical emergency                381
Asphyxiated                      275
Drug overdose                    176
Beaten                           174
Drowned                          173
Undetermined                     102
Fell from a height                73
Other                             57
Stabbed                           48
Burned/Smoke inhalation           35
Chemical agent/Pepper spray       35
Unknown                            1
Name: Cause of death, dtype: int64

In [5]:
df_kill=df[df["Intentional Use of Force"]=="Intentional Use of Force, Deadly"]

In [6]:
df_kill

,Name,Age,Gender,Race,Presumed Race,Date,City,State,Zipcode,Latitude,Longitude,Agency,Cause of death,Description,Intentional Use of Force,Year
4,Lester Miller,53,Male,Race unspecified,Black,1/2/2000,Ellenwood,GA,30294.0,33.645164,-84.229413,DeKalb County Sheriff's Office,Gunshot,"Darren Mayfield, a DeKalb County sheriff's dep...","Intentional Use of Force, Deadly",2000.0
12,Derrick E. Tate,23,Male,Race unspecified,White,1/5/2000,Pontiac,IL,61764.0,40.873687,-88.642806,Bloomington Police Department,Gunshot,Officer Elias E. Mendiola shot Derrick E. Tate...,"Intentional Use of Force, Deadly",2000.0
13,John Edward Pittman,45,Male,Black,Black,1/5/2000,Dothan,AL,NaN,31.223231,-85.390489,Dothan Police Department,Gunshot,John Edward Pittman was shot and killed by off...,"Intentional Use of Force, Deadly",2000.0
17,Kyle Dillon,19,Male,White,White,1/6/2000,York,NE,68467.0,40.876827,-97.595816,York Police Department,Gunshot,Kyle Dillon allegedly walked up to officer Jas...,"Intentional Use of Force, Deadly",2000.0
19,Darryl Woodall Jr.,23,Male,Race unspecified,Black,1/6/2000,Charlotte,NC,28208.0,35.239050,-80.918319,"North Carolina State Highway Patrol, Charlotte...",Gunshot,State troopers and county deputies had tracked...,"Intentional Use of Force, Deadly",2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28360,Kevin Lee Catlett,62,Male,Race unspecified,NaN,6/30/2020,Johnson City,TN,37601.0,36.353041,-82.331010,Johnson City Department,Gunshot,"About 7 p.m., Johnson City police were respond...","Intentional Use of Force, Deadly",2020.0
28362,Jason Noble Snow,34,Male,White,White,7/1/2020,Durango,CO,81301.0,37.290439,-107.875500,Durango Police Department,Gunshot,Police were dispatched to O’Reilly Auto Parts ...,"Intentional Use of Force, Deadly",2020.0
28364,Ky Johnson,31,Male,Race unspecified,NaN,7/2/2020,Kansas City,MO,64128.0,39.069208,-94.520026,Kansas City Police Department,Gunshot,Police responded to a disturbance around 4:40 ...,"Intentional Use of Force, Deadly",2020.0
28365,Kevan Ruffin,32,Male,Black,Black,7/2/2020,Sheboygan,WI,53081.0,43.744312,-87.724608,Sheboygan Police Department,Gunshot,Police responded to a 911 call around 5:50 a.m...,"Intentional Use of Force, Deadly",2020.0
28366,Name withheld by police,NaN,Male,Race unspecified,NaN,7/2/2020,Kansas City,MO,64124.0,39.105227,-94.519121,Kansas City Police Department,Gunshot,Police said they heard about a man who robbed ...,"Intentional Use of Force, Deadly",2020.0

In [7]:
df_kill_counts=df_kill["Presumed Race"].value_counts()
df_kill_counts=df_kill_counts.to_frame().reset_index()
df_kill_counts=df_kill_counts.rename(columns={'index':"Race",'Presumed Race':'Count'})
df_kill_counts=df_kill_counts.append({"Race":"Total","Count":df_kill_counts["Count"].sum(axis=0)}, ignore_index=True)

i=0
Percents_kill=[]
for i in df_kill_counts.index.values.tolist():
    value=df_kill_counts.at[i,"Count"]/df_kill_counts.at[df_kill_counts.index.values.tolist()[-1],"Count"]*100
    Percents_kill.append(value.round(2))

df_kill_counts["Percent"]=Percents_kill
df_kill_counts

               Race  Count  Percent
0             White   8082    47.81
1             Black   4663    27.59
2          Hispanic   3062    18.11
3  Race unspecified    501     2.96
4             Asian    352     2.08
5            Native    205     1.21
6    Middle Eastern     37     0.22
7        Other Race      2     0.01
8             Total  16904   100.00

In [8]:
df_gen_counts=df_kill["Gender"].value_counts()
df_gen_counts=df_gen_counts.to_frame().reset_index()
df_gen_counts=df_gen_counts.rename(columns={'index':"Gender",'Gender':'Count'})
df_gen_counts=df_gen_counts.append({"Gender":"Total","Count":df_gen_counts["Count"].sum(axis=0)}, ignore_index=True)

i=0
Percents_gen=[]
for i in df_gen_counts.index.values.tolist():
    value=df_gen_counts.at[i,"Count"]/df_gen_counts.at[df_gen_counts.index.values.tolist()[-1],"Count"]*100
    Percents_gen.append(value.round(2))

df_gen_counts["Percent"]=Percents_gen
df_gen_counts

        Gender  Count  Percent
0         Male  16110    94.18
1       Female    986     5.76
2  Transgender     10     0.06
3        Total  17106   100.00

In [9]:
df_kill_male=df_kill[df_kill["Gender"]=="Male"]
df_kill_female=df_kill[df_kill["Gender"]=="Female"]

In [10]:
df_kill_male_counts=df_kill_male["Presumed Race"].value_counts()
df_kill_male_counts=df_kill_male_counts.to_frame().reset_index()
df_kill_male_counts=df_kill_male_counts.rename(columns={'index':"Race",'Presumed Race':'Count'})
df_kill_male_counts=df_kill_male_counts.append({"Race":"Total","Count":df_kill_male_counts["Count"].sum(axis=0)}, ignore_index=True)

i=0
Percents_male_kill=[]
for i in df_kill_male_counts.index.values.tolist():
    value=df_kill_male_counts.at[i,"Count"]/df_kill_male_counts.at[df_kill_male_counts.index.values.tolist()[-1],"Count"]*100
    Percents_male_kill.append(value.round(2))

df_kill_male_counts["Percent"]=Percents_male_kill
df_kill_male_counts

               Race  Count  Percent
0             White   7492    47.09
1             Black   4452    27.98
2          Hispanic   2946    18.52
3  Race unspecified    464     2.92
4             Asian    327     2.06
5            Native    191     1.20
6    Middle Eastern     35     0.22
7        Other Race      2     0.01
8             Total  15909   100.00

In [11]:
df_kill_female_counts=df_kill_female["Presumed Race"].value_counts()
df_kill_female_counts=df_kill_female_counts.to_frame().reset_index()
df_kill_female_counts=df_kill_female_counts.rename(columns={'index':"Race",'Presumed Race':'Count'})
df_kill_female_counts=df_kill_female_counts.append({"Race":"Total","Count":df_kill_female_counts["Count"].sum(axis=0)}, ignore_index=True)

i=0
Percents_female_kill=[]
for i in df_kill_female_counts.index.values.tolist():
    value=df_kill_female_counts.at[i,"Count"]/df_kill_female_counts.at[df_kill_female_counts.index.values.tolist()[-1],"Count"]*100
    Percents_female_kill.append(value.round(2))

df_kill_female_counts["Percent"]=Percents_female_kill
df_kill_female_counts

               Race  Count  Percent
0             White    584    59.84
1             Black    208    21.31
2          Hispanic    114    11.68
3  Race unspecified     29     2.97
4             Asian     25     2.56
5            Native     14     1.43
6    Middle Eastern      2     0.20
7             Total    976   100.00