In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("police_killings.csv")
df.head()

,uid,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,classification,lawenforcementagency,armed
0,2016406,Terry Frost,20,Male,Black,May,25,2016,2692 Madison Rd,Cincinnati,OH,Gunshot,Cincinnati Police Department,Firearm
1,201681,Jeffry Graves,62,Male,White,January,31,2016,36500 Bridgepointe Dr,Newark,CA,Gunshot,Newark Police Department,Firearm
2,20161,Joshua Sisson,30,Male,White,January,1,2016,4200 6th Ave,San Diego,CA,Gunshot,San Diego Police Department,Knife
3,20163,Sean O'Brien,37,Male,White,January,2,2016,100 Washington St,Livingston,MT,Gunshot,Livingston Police Department,Knife
4,201653,Lance Light,54,Male,White,January,2,2016,I-20 and Texas Hwy 70,Sweetwater,TX,Gunshot,Sweetwater Police Department,Firearm

In [3]:
df.columns

Index(['uid', 'name', 'age', 'gender', 'raceethnicity', 'month', 'day', 'year',
       'streetaddress', 'city', 'state', 'classification',
       'lawenforcementagency', 'armed'],
      dtype='object')

In [6]:
df_fakegun=df[df["armed"]=="Non-lethal firearm"]

In [7]:
df_fakegun["raceethnicity"].value_counts()

White                     57
Black                     22
Hispanic/Latino           12
Asian/Pacific Islander     1
Unknown                    1
Name: raceethnicity, dtype: int64

In [4]:
df["raceethnicity"].value_counts()

White                     1158
Black                      573
Hispanic/Latino            378
Asian/Pacific Islander      45
Unknown                     40
Native American             37
Arab-American                7
Other                        1
Name: raceethnicity, dtype: int64

In [5]:
df_unarmed=df[df["armed"]=="No"]

In [6]:
df_unarmed

,uid,name,age,gender,raceethnicity,month,day,year,streetaddress,city,state,classification,lawenforcementagency,armed
10,20167,Joel Nelson,29,Male,White,January,5,2016,93rd Ave SE,Olympia,WA,Gunshot,Thurston County Sheriff's Office,No
24,201620,Alan Bartley,56,Male,White,January,11,2016,San Fernando Rd and Hubbard St,San Fernando,CA,Gunshot,San Fernando Police Department,No
25,201621,Ciara Meyer,12,Female,White,January,11,2016,Rebecca Dr,Duncannon,PA,Gunshot,Pennsylvania state constable,No
34,201627,Kelsey Hauser,25,Female,White,January,16,2016,300 S Pierce St,El Cajon,CA,Gunshot,El Cajon Police Department,No
47,201640,Daniel Shaver,26,Male,White,January,18,2016,6530 E Superstition Springs Blvd,Mesa,AZ,Gunshot,Mesa Police Department,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2233,1171,James Sizer,62,Male,White,March,6,2015,11900 Bittern Hollow,Austin,TX,Taser,Austin Police Department,No
2234,1172,Kevin Higgenbotham,46,Male,Black,June,15,2015,200 Bellevue Ave,Trenton,NJ,Death in custody,Trenton Police Department,No
2236,1174,Adrian Campbell,24,Male,Black,September,21,2015,1800 66th St,Lubbock,TX,Death in custody,Lubbock Police Department,No
2237,1175,Anthony Marino,58,Male,White,February,15,2015,18422 Bear Valley Rd,Victorville,CA,Death in custody,Victor Valley College Police Department,No
2238,1176,Joseph Seguin,38,Male,White,November,30,2015,17 Aimee Ct,Mahopac,NY,Taser,Carmel Police Department,No

In [7]:
df_unarmed["raceethnicity"].value_counts()

White                     201
Black                     121
Hispanic/Latino            67
Native American             6
Asian/Pacific Islander      5
Unknown                     3
Arab-American               2
Name: raceethnicity, dtype: int64

In [8]:
121/405

0.29876543209876544

In [9]:
201/405

0.4962962962962963

In [2]:
df_shootings=pd.read_csv("fatal-police-shootings-data.csv")
df_shootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [3]:
df_toy=df_shootings[df_shootings["armed"]=="toy weapon"]
df_toy

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
9,17,Leslie Sapp III,2015-01-06,shot,toy weapon,47.0,M,B,Knoxville,PA,False,attack,Not fleeing,False
50,99,Tiano Meton,2015-01-22,shot,toy weapon,25.0,M,B,Sierra Blanca,TX,False,attack,Car,False
91,532,John Sawyer,2015-02-07,shot,toy weapon,26.0,M,W,Calimesa,CA,False,attack,Not fleeing,False
104,142,Fletcher Ray Stewart,2015-02-11,shot,toy weapon,46.0,M,W,Dadeville,AL,True,attack,Foot,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5345,5884,Reymar Gagarin,2020-05-25,shot,toy weapon,35.0,M,NaN,Modesto,CA,True,attack,Not fleeing,True
5347,5854,Richard Councilman,2020-05-26,shot,toy weapon,NaN,M,NaN,Jamestown,CA,True,other,Not fleeing,False
5349,5860,Kenneth Bennett,2020-05-26,shot,toy weapon,61.0,M,NaN,Manlius,NY,True,attack,Not fleeing,False
5368,5845,TK TK,2020-05-29,shot,toy weapon,NaN,M,W,Lancaster,CA,False,attack,NaN,False
5407,5922,Anthony Angel Armenta,2020-06-13,shot,toy weapon,21.0,M,H,San Bernardino,CA,False,attack,Not fleeing,False

In [10]:
df_toy['race'].value_counts()

W    99
B    37
H    33
A     2
N     1
Name: race, dtype: int64

In [6]:
df_toy_NA_FL=df_toy[(df_toy["threat_level"]!="attack")&(df_toy["flee"]!="Not fleeing")]

In [7]:
df_toy_NA_FL

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
1007,1150,Charles Hollstein,2016-01-06,shot,toy weapon,38.0,M,W,Zion,IL,True,other,Foot,False
1026,1172,Alfred Longoria,2016-01-16,shot,toy weapon,34.0,M,H,Hollywood Hills,CA,False,other,Foot,False
1122,1281,Paul Gaston,2016-02-17,shot,toy weapon,37.0,M,B,Cincinnati,OH,False,other,Other,False
1482,1669,Raymond Hutson,2016-06-27,shot,toy weapon,25.0,M,W,Frederica,DE,False,other,Car,False
1681,1883,Tyre King,2016-09-14,shot,toy weapon,13.0,M,B,Columbus,OH,False,other,Foot,False
2077,2316,Quanice Derrick Hayes,2017-02-09,shot,toy weapon,17.0,M,B,Portland,OR,False,undetermined,Foot,False
3068,3397,Steven Tyler Reed,2018-02-10,shot,toy weapon,25.0,M,W,Columbus,OH,False,undetermined,Foot,False
3356,3679,Phillip Cameron Gibson,2018-05-08,shot,toy weapon,37.0,M,W,Glade Spring,VA,False,other,Other,False
3406,3733,Zane Anthony James,2018-05-29,shot,toy weapon,19.0,M,W,Cottonwood Heights,UT,False,other,Foot,False
3548,3947,Eliuth Penaloza Nava,2018-07-21,shot,toy weapon,50.0,M,H,Anaheim,CA,True,other,Foot,False
3945,4507,John Richard Camacho,2019-01-04,shot,toy weapon,27.0,M,W,San Marcos,TX,False,other,Car,False
3984,4386,Antonio Arce,2019-01-15,shot,toy weapon,14.0,M,H,Tempe,AZ,False,other,Foot,True
4601,5016,Bennie Branch,2019-09-08,shot,toy weapon,24.0,M,B,Tacoma,WA,False,undetermined,Foot,False

In [8]:
df_toy_NA_FL["race"].value_counts()

W    6
B    4
H    3
Name: race, dtype: int64

In [11]:
df_shootings.shape

(5437, 14)

In [12]:
df_shootings["race"].value_counts()

W    2485
B    1298
H     904
A      94
N      78
O      48
Name: race, dtype: int64

In [13]:
print("White %")
print(2485/5437)
print()
print("Black %")
print(1298/5437)

White %
0.4570535221629575

Black %
0.23873459628471583

In [14]:
df_shootings_attack=df_shootings[df_shootings["threat_level"]=="attack"]

In [15]:
df_shootings_attack.shape

(3512, 14)

In [16]:
df_shootings_attack["race"].value_counts()

W    1647
B     873
H     523
A      51
N      44
O      31
Name: race, dtype: int64

In [17]:
1647/3512

0.4689635535307517

In [18]:
873/3512

0.2485763097949886

In [19]:
df_shoot_unarmed=df_shootings[df_shootings["armed"]=="unarmed"]
df_shoot_unarmed.shape

(353, 14)

In [20]:
df_shoot_unarmed["race"].value_counts()

W    146
B    123
H     63
A      7
O      5
N      4
Name: race, dtype: int64

In [21]:
df_flee=df_shootings[df_shootings["flee"]!="Not fleeing"]
print(df_flee.shape)
df_flee['race'].value_counts()

(2012, 14)

W    825
B    562
H    369
N     31
A     22
O     18
Name: race, dtype: int64

In [22]:
df_shoot_unarmed_flee=df_shoot_unarmed[df_shoot_unarmed["flee"]!="Not fleeing"]
df_shoot_unarmed_flee.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
62,352,Joshua Omar Garcia,2015-01-26,shot,unarmed,24.0,M,H,Tahoka,TX,False,other,Car,False
72,342,Ralph Willis,2015-01-29,shot,unarmed,42.0,M,W,Stillwater,OK,False,other,Foot,False
76,114,David Kassick,2015-02-02,shot,unarmed,59.0,M,W,Hummelstown,PA,False,other,Foot,False
102,138,Antonio Zambrano-Montes,2015-02-10,shot and Tasered,unarmed,35.0,M,H,Pasco,WA,True,other,Foot,False
119,159,Michael Ireland,2015-02-17,shot,unarmed,31.0,M,W,Springfield,MO,False,other,Foot,False

In [23]:
df_shoot_unarmed_flee.shape

(162, 14)

In [24]:
df_shoot_unarmed_flee["race"].value_counts()

B    68
W    55
H    32
A     3
N     2
O     1
Name: race, dtype: int64

In [25]:
print("Black percent unarmed fleeing = ", 68/162)
print("White percent unarmed fleeing = ", 55/162)

Black percent unarmed fleeing =  0.41975308641975306
White percent unarmed fleeing =  0.3395061728395062

In [26]:
df_AT=df_shootings[df_shootings["threat_level"]=="attack"]
print(df_AT.shape)
df_AT["race"].value_counts()

(3512, 14)

W    1647
B     873
H     523
A      51
N      44
O      31
Name: race, dtype: int64

In [27]:
print("Black % that Attacks = ", 873/3512)
print(" White % that Attacks = ", 1647/3512)

Black % that Attacks =  0.2485763097949886
 White % that Attacks =  0.4689635535307517

In [28]:
df_NA=df_shootings[df_shootings["threat_level"]!="attack"]
df_NA.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
8,16,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,W,Burlington,IA,False,other,Not fleeing,True
12,22,Hashim Hanif Ibn Abdul-Rasheed,2015-01-07,shot,knife,41.0,M,B,Columbus,OH,True,other,Not fleeing,False
15,29,Loren Simpson,2015-01-08,shot,NaN,28.0,M,W,Huntley,MT,False,undetermined,Not fleeing,False
25,48,Richard McClendon,2015-01-13,shot,knife,43.0,M,W,Jourdanton,TX,True,other,Not fleeing,False

In [29]:
df_NA_FL=df_NA[df_NA["flee"]!="Not fleeing"]

In [30]:
df_NA_UN=df_NA[df_NA["armed"]=='unarmed']
print(df_NA_UN.shape)
df_NA_UN['race'].value_counts()

(215, 14)

W    83
B    71
H    48
A     6
O     3
N     3
Name: race, dtype: int64

In [31]:
df_NA_FL.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
45,85,Dewayne Carr,2015-01-20,shot,NaN,42.0,M,B,Scottsdale,AZ,False,other,Car,False
62,352,Joshua Omar Garcia,2015-01-26,shot,unarmed,24.0,M,H,Tahoka,TX,False,other,Car,False
72,342,Ralph Willis,2015-01-29,shot,unarmed,42.0,M,W,Stillwater,OK,False,other,Foot,False
76,114,David Kassick,2015-02-02,shot,unarmed,59.0,M,W,Hummelstown,PA,False,other,Foot,False
89,128,Paul Alfred Eugene Johnson,2015-02-05,shot,gun,59.0,M,W,Chino,CA,False,other,Car,False

In [32]:
df_NA_FL.shape

(735, 14)

In [33]:
df_NA_FL['race'].value_counts()

W    287
B    189
H    161
N     15
A     11
O      7
Name: race, dtype: int64

In [34]:
df_NA_FL_UN=df_NA_FL[df_NA_FL["armed"]=="unarmed"]

In [35]:
df_NA_FL_UN.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
62,352,Joshua Omar Garcia,2015-01-26,shot,unarmed,24.0,M,H,Tahoka,TX,False,other,Car,False
72,342,Ralph Willis,2015-01-29,shot,unarmed,42.0,M,W,Stillwater,OK,False,other,Foot,False
76,114,David Kassick,2015-02-02,shot,unarmed,59.0,M,W,Hummelstown,PA,False,other,Foot,False
102,138,Antonio Zambrano-Montes,2015-02-10,shot and Tasered,unarmed,35.0,M,H,Pasco,WA,True,other,Foot,False
119,159,Michael Ireland,2015-02-17,shot,unarmed,31.0,M,W,Springfield,MO,False,other,Foot,False

In [36]:
df_NA_FL_UN.shape

(113, 14)

In [37]:
df_NA_FL_UN["race"].value_counts()

B    41
W    38
H    29
A     3
N     2
Name: race, dtype: int64

In [38]:
print("Black % = ", 41/113)
print("White % = ", 38/113)
print("Hispanic % = ", 29/113)

Black % =  0.36283185840707965
White % =  0.336283185840708
Hispanic % =  0.25663716814159293

In [39]:
df_shootings['gender'].value_counts()

M    5194
F     241
Name: gender, dtype: int64

In [40]:
print("Male = ", 5194/(5194+241))
print("Female = ", 241/(5194+241))

Male =  0.9556577736890525
Female =  0.044342226310947565

In [41]:
print(1+2)

3